
.navbar {
    font-weight: bold;
    background: lightblue;
    color: grey;
    font-size: 30px;
    font-style: normal;
}

body {
  background: #f1f1f1;
}

.first image {
    width: 20%; 
    float: left; 
    margin : 5px;

}

.text {
    float: right;
}
